In [94]:
#LIBRARIES
#starts spark session
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()
#for question 3
from pyspark.sql.functions import col, expr
#for question 4
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean
#for question 4.vi.
from pyspark.sql.functions import lit
#for question 5
from pyspark.sql.functions import when
#used for question 7
from pyspark.sql.functions import asc, desc

In [2]:
#1.i. Use the starter code above to create a pandas dataframe.
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

In [3]:
#1.ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [4]:
#1.iii. Show the first 3 rows of the dataframe.
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [5]:
#1.iv. Show the first 7 rows of the dataframe.
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [6]:
#1.v. View a summary of the data using .describe.
df.describe()

DataFrame[summary: string, n: string, group: string]

In [9]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

In [10]:
#1.vi. Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
df.select('n','abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [11]:
#1.vii. Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.
df.select('group','abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [12]:
#1.viii. Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.
df.select('group', df.abool.alias('a_boolean_value')).show(5)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
|    y|          false|
|    z|          false|
+-----+---------------+
only showing top 5 rows

In [13]:
#1.ix. Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.
df.select('group', df.n.alias('a_numeric_value')).show(5)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
+-----+--------------------+
only showing top 5 rows

### Column Manipulation

In [15]:
#2.i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df
#used df form 1.ii.
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [16]:
#2.ii. Use .select to add 4 to the n column. Show the results.
df.select('n', df.n + 4).show()

+--------------------+------------------+
|                   n|           (n + 4)|
+--------------------+------------------+
|  -0.712390662050588|3.2876093379494122|
|   0.753766378659703| 4.753766378659703|
|-0.04450307833805...|3.9554969216619464|
| 0.45181233874578974|  4.45181233874579|
|  1.3451017084510097|5.3451017084510095|
|  0.5323378882945463| 4.532337888294546|
|  1.3501878997225267| 5.350187899722527|
|  0.8612113741693206|  4.86121137416932|
|  1.4786857374358966| 5.478685737435897|
| -1.0453771305385342| 2.954622869461466|
| -0.7889890249515489|3.2110109750484512|
|  -1.261605945319069| 2.738394054680931|
|  0.5628467852810314| 4.562846785281032|
|-0.24332625188556253|3.7566737481144377|
|  0.9137407048596775| 4.913740704859677|
| 0.31735092273633597| 4.317350922736336|
| 0.12730328020698067| 4.127303280206981|
|  2.1503829673811126| 6.150382967381113|
|  0.6062886568962988| 4.606288656896298|
|-0.02677164998644...|3.9732283500135592|
+--------------------+------------------+

In [17]:
#2.iii. Subtract 5 from the n column and view the results.
df.select('n', df.n - 5).show()

+--------------------+-------------------+
|                   n|            (n - 5)|
+--------------------+-------------------+
|  -0.712390662050588| -5.712390662050588|
|   0.753766378659703| -4.246233621340297|
|-0.04450307833805...| -5.044503078338053|
| 0.45181233874578974|  -4.54818766125421|
|  1.3451017084510097|-3.6548982915489905|
|  0.5323378882945463| -4.467662111705454|
|  1.3501878997225267|-3.6498121002774733|
|  0.8612113741693206|  -4.13878862583068|
|  1.4786857374358966| -3.521314262564103|
| -1.0453771305385342| -6.045377130538534|
| -0.7889890249515489| -5.788989024951549|
|  -1.261605945319069| -6.261605945319069|
|  0.5628467852810314| -4.437153214718968|
|-0.24332625188556253| -5.243326251885563|
|  0.9137407048596775| -4.086259295140323|
| 0.31735092273633597| -4.682649077263664|
| 0.12730328020698067| -4.872696719793019|
|  2.1503829673811126|-2.8496170326188874|
|  0.6062886568962988| -4.393711343103702|
|-0.02677164998644...| -5.026771649986441|
+--------------------+-------------------+

In [18]:
#2.iv. Multiply the n column by 2. View the results along with the original numbers.
df.select('n', df.n * 2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

In [25]:
#2.v. Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.
df.select('n', (df.n * -1).alias('n2')).show(4)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

In [34]:
#2.vi. Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.
df.select('n', (df.n * -1).alias('n2'), (df.n * df.n).alias('n3')).show(4)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
+--------------------+--------------------+--------------------+
only showing top 4 rows

In [35]:
#2.vii. What happens when you run the code below?
df.group + df.abool

Column<'(group + abool)'>

In [36]:
#2.viii. What happens when you run the code below? What is the difference between this and the previous code sample?
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;
'Project [(cast(group#1 as double) + abool#2) AS (group + abool)#449]
+- LogicalRDD [n#0, group#1, abool#2], false

In [37]:
#.ix. Try adding various other columns together. What are the results of combining the different data types?
df.select(df.n + df.abool)

AnalysisException: cannot resolve '(`n` + `abool`)' due to data type mismatch: differing types in '(`n` + `abool`)' (double and boolean).;
'Project [(n#0 + abool#2) AS (n + abool)#450]
+- LogicalRDD [n#0, group#1, abool#2], false

In [38]:
df.select(df.group + df.n)

DataFrame[(group + n): double]

## Type Casting

In [39]:
#3.i. Use the starter code above to re-create a spark dataframe.
#used df from 1.ii.
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [40]:
#3.ii. Use .printSchema to view the datatypes in your dataframe.
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [41]:
#3.iii. Use .dtypes to view the datatypes in your dataframe.
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [42]:
#3.iv. What is the difference between the two code samples below?
df.abool.cast('int')
#changes the dtypes

Column<'CAST(abool AS INT)'>

In [43]:
df.select(df.abool.cast('int')).show()
#shows the boolean as dtypes

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [44]:
#3.v. Use .select and .cast to convert the abool column to an integer type. View the results.
#results are above in 3.iv

In [45]:
#3.vi. Convert the group column to a integer data type and view the results. What happens?
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

In [46]:
#3.vii. Convert the n column to a integer data type and view the results. What happens?
df.select(df.n.cast('int')).show()
#keeps the first digit. if-0 it goes to 0. if its -1...it keeps the negative

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
|  0|
|  1|
| -1|
|  0|
| -1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  2|
|  0|
|  0|
+---+

In [47]:
#3.viii. Convert the abool column to a string data type and view the results. What happens?
#returns null as in 3.vi.

## Built-in Functions

In [48]:
#4.i. Use the starter code above to re-create a spark dataframe.
#used df from 1.ii.
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [52]:
#4.ii. Import the necessary functions from pyspark.sql.functions
#imported in the libraries cell on the top of the page

In [58]:
#4.iii. Find the highest n value.
df.select(max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [59]:
#4.iv. Find the lowest n value.
df.select(min(df.n)).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [60]:
#4.v. Find the average n value.
df.select(mean(df.n)).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

In [63]:
#4.vi. Use concat to change the group column to say, e.g. "Group: x" or "Group: y"
from pyspark.sql.functions import lit
df.select(concat(lit('Group: '), df.group)).show()

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: x|
+----------------------+

In [65]:
#4.vii Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"
df.select(concat(df.group, lit(': '), df.n)).show()

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+

## When/Otherwise

In [66]:
#5.i. Use the starter code above to re-create a spark dataframe.
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [74]:
#5.ii. Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.
df.select(
    df.abool, 
    when(df.abool == True, 'It is True')#have to use '==' for True or False
    .otherwise('It is False')
    .alias('So is it True'),
).show()

+-----+-------------+
|abool|So is it True|
+-----+-------------+
|false|  It is False|
|false|  It is False|
|false|  It is False|
|false|  It is False|
|false|  It is False|
|false|  It is False|
|false|  It is False|
|false|  It is False|
| true|   It is True|
| true|   It is True|
|false|  It is False|
|false|  It is False|
| true|   It is True|
| true|   It is True|
|false|  It is False|
|false|  It is False|
|false|  It is False|
| true|   It is True|
|false|  It is False|
| true|   It is True|
+-----+-------------+

In [75]:
#5.iii. Create a column that contains 0 if n is less than 0, otherwise, the original n value.
df.select(
    df.n, 
    when(df.n < 0, '0')#have to use '==' for True or False
    .otherwise(df.n)
    .alias('Less Than 0'),
).show()

+--------------------+-------------------+
|                   n|        Less Than 0|
+--------------------+-------------------+
|  -0.712390662050588|                  0|
|   0.753766378659703|  0.753766378659703|
|-0.04450307833805...|                  0|
| 0.45181233874578974|0.45181233874578974|
|  1.3451017084510097| 1.3451017084510097|
|  0.5323378882945463| 0.5323378882945463|
|  1.3501878997225267| 1.3501878997225267|
|  0.8612113741693206| 0.8612113741693206|
|  1.4786857374358966| 1.4786857374358966|
| -1.0453771305385342|                  0|
| -0.7889890249515489|                  0|
|  -1.261605945319069|                  0|
|  0.5628467852810314| 0.5628467852810314|
|-0.24332625188556253|                  0|
|  0.9137407048596775| 0.9137407048596775|
| 0.31735092273633597|0.31735092273633597|
| 0.12730328020698067|0.12730328020698067|
|  2.1503829673811126| 2.1503829673811126|
|  0.6062886568962988| 0.6062886568962988|
|-0.02677164998644...|                  0|
+--------------------+-------------------+

## Filter/When

In [76]:
#6.i. Use the starter code above to re-create a spark dataframe.
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [78]:
#6.ii. Use .filter or .where to select just the rows where the group is y and view the results.
df.filter(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

In [79]:
#6.iii. Select just the columns where the abool column is false and view the results.
df.filter(df.abool == False).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [80]:
#6.iv. Find the columns where the group column is not y.
df.filter(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [81]:
#6.v. Find the columns where n is positive.
df.filter(df.n > 0).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
| 0.5628467852810314|    y| true|
| 0.9137407048596775|    y|false|
|0.31735092273633597|    x|false|
|0.12730328020698067|    z|false|
| 2.1503829673811126|    y| true|
| 0.6062886568962988|    x|false|
+-------------------+-----+-----+

In [82]:
#6.vi. Find the columns where abool is true and the group column is z.
df.filter(df.abool == True).where(df['group'] == 'z').show()
#Why does the 'group' column need to be in quotes?

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

In [90]:
#6.vii. Find the columns where abool is true or the group column is z.
df.filter((df.abool == True) | (df['group'] == 'z')).show()
#USE "& for and", "| for or", "~ for not"

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [91]:
#6.viii. Find the columns where abool is false and n is less than 1
df.filter(df.abool == False).where(df['n'] < 1).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [92]:
#6.ix. Find the columns where abool is false or n is less than 1
df.filter((df.abool == False) | (df['n'] < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

## Sorting

In [93]:
#7.ii. Sort by the n value.
df.sort('n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  0.9137407048596775|    y|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

In [95]:
#7.ii. Sort by the group value, both ascending and descending.
df.sort(asc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|  0.8612113741693206|    x|false|
|   0.753766378659703|    x|false|
|-0.02677164998644...|    x| true|
|  0.6062886568962988|    x|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|  0.5323378882945463|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.4786857374358966|    z| true|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+

In [96]:
df.sort(desc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  1.3451017084510097|    z|false|
|-0.04450307833805...|    z|false|
|  -0.712390662050588|    z|false|
| 0.12730328020698067|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  2.1503829673811126|    y| true|
|  -1.261605945319069|    y|false|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  0.5628467852810314|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
| -0.7889890249515489|    x|false|
|  0.8612113741693206|    x|false|
|-0.02677164998644...|    x| true|
|   0.753766378659703|    x|false|
+--------------------+-----+-----+

In [97]:
#7.iv Sort by the group value first, then, within each group, sort by n value.
df.sort('group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

In [99]:
#7.v. Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?
df.sort('abool', 'group', 'n').show()
#It does matter as it determines in what order they will be sorted. When the values for the first specified column are the same, the next specified column will determine sort order.

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|-0.02677164998644...|    x| true|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
|  2.1503829673811126|    y| true|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

## Spark SQL

In [110]:
#8.ii. Turn your dataframe into a table that can be queried with spark SQL. Name the table my_df. Answer the rest of the questions in this section with a spark sql query (spark.sql) against my_df. After each step, view the first 7 records from the dataframe.
df.createOrReplaceTempView("df")

In [113]:
#8.iii. Write a query that shows all of the columns from your dataframe.
spark.sql(
    """SELECT *
    FROM df"""
).show()
#sql needs to be enclosed in quotes like pandas

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [114]:
#8.iv. Write a query that shows just the n and abool columns from the dataframe.
spark.sql(
    """SELECT n, abool
    FROM df"""
).show()

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
|  0.8612113741693206|false|
|  1.4786857374358966| true|
| -1.0453771305385342| true|
| -0.7889890249515489|false|
|  -1.261605945319069|false|
|  0.5628467852810314| true|
|-0.24332625188556253| true|
|  0.9137407048596775|false|
| 0.31735092273633597|false|
| 0.12730328020698067|false|
|  2.1503829673811126| true|
|  0.6062886568962988|false|
|-0.02677164998644...| true|
+--------------------+-----+

In [115]:
#8.v. Write a query that shows just the n and group columns. Rename the group column to g.
spark.sql(
    """SELECT n, group
    FROM df"""
).show()

+--------------------+-----+
|                   n|group|
+--------------------+-----+
|  -0.712390662050588|    z|
|   0.753766378659703|    x|
|-0.04450307833805...|    z|
| 0.45181233874578974|    y|
|  1.3451017084510097|    z|
|  0.5323378882945463|    y|
|  1.3501878997225267|    z|
|  0.8612113741693206|    x|
|  1.4786857374358966|    z|
| -1.0453771305385342|    y|
| -0.7889890249515489|    x|
|  -1.261605945319069|    y|
|  0.5628467852810314|    y|
|-0.24332625188556253|    y|
|  0.9137407048596775|    y|
| 0.31735092273633597|    x|
| 0.12730328020698067|    z|
|  2.1503829673811126|    y|
|  0.6062886568962988|    x|
|-0.02677164998644...|    x|
+--------------------+-----+

In [116]:
#8.vi. Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.
spark.sql(
    """SELECT n, n/2 AS n2, n - 1 AS n3
    FROM df
    """
).show()

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
|  0.8612113741693206|  0.4306056870846603| -0.1387886258306794|
|  1.4786857374358966|  0.7393428687179483|  0.4786857374358966|
| -1.0453771305385342| -0.5226885652692671|  -2.045377130538534|
| -0.7889890249515489|-0.39449451247577444| -1.7889890249515488|
|  -1.261605945319069| -0.6308029726595346|  -2.261605945319069|
|  0.5628467852810314|  0.2814233926405157| -0.4371532147189686|
|-0.24332625188556253|-0.12166312594278127| -1.2433262518855626|
|  0.9137407048596775| 0.45687035242983876|-0.08625929514032249|
| 0.31735092273633597| 0.15867546136816799|  -0.682649077263664|
| 0.12730328020698067| 0.06365164010349034| -0.8726967197930193|
|  2.1503829673811126|  1.0751914836905563|  1.1503829673811126|
|  0.6062886568962988|  0.3031443284481494|-0.39371134310370115|
|-0.02677164998644...|-0.01338582499322...| -1.0267716499864408|
+--------------------+--------------------+--------------------+

In [117]:
#8.vii. What happens if you make a SQL syntax error in your query?
spark.sql(
    """SELECT *
    FROM d"""
).show()

AnalysisException: Table or view not found: d; line 2 pos 9;
'Project [*]
+- 'UnresolvedRelation [d], [], false

## Aggregating

In [119]:
#9.i. What is the average n value for each group in the group column?
df.groupBy(df.group).agg(avg(df.n)).show()

+-----+-------------------+
|group|             avg(n)|
+-----+-------------------+
|    x|0.28714277625394485|
|    z|  0.590730814237962|
|    y| 0.2576014196023739|
+-----+-------------------+

In [120]:
#9.ii. What is the maximum n value for each group in the group column?
df.groupBy(df.group).agg(max(df.n)).show()

+-----+------------------+
|group|            max(n)|
+-----+------------------+
|    x|0.8612113741693206|
|    z|1.4786857374358966|
|    y|2.1503829673811126|
+-----+------------------+

In [121]:
#9.iii. What is the minimum n value by abool?
df.groupBy(df.group).agg(min(df.n)).show()

+-----+-------------------+
|group|             min(n)|
+-----+-------------------+
|    x|-0.7889890249515489|
|    z| -0.712390662050588|
|    y| -1.261605945319069|
+-----+-------------------+

In [122]:
#9. iv. What is the average n value for each unique combination of the group and abool column?
df.groupBy('group', 'abool').agg(avg(df.n)).show()

+-----+-----+--------------------+
|group|abool|              avg(n)|
+-----+-----+--------------------+
|    z|false| 0.41313982959837514|
|    y|false| 0.15907124664523611|
|    y| true| 0.35613159255951177|
|    x|false|   0.349925661502022|
|    x| true|-0.02677164998644...|
|    z| true|  1.4786857374358966|
+-----+-----+--------------------+